.search-bar, .search-result { width: 100%; }

.search-term, .search-location, .search-filter, .serach-price, .search-result, .search-button {
  background-color: white;
  border: none;
  border-radius: 1px;
  box-shadow: 0px 0px 10px #000;
}

.search-term, .search-location, .search-filter, .search-price, .search-button {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 2em;
  padding: 1em;
}

.search-term {
  width: 37.5%;
  margin-right: 2.5%;
}

.search-location {
  width: 17.5%;
  margin-right: 2.5%;
}

.search-filter-dropdown-view { width: 17.5%; }

.search-price-dropdown-view { width: 10%; }

.search-filter-dropdown-view, .search-price-dropdown-view {
  margin-right: 2.5%;
  position: relative;
  display: inline-block;
}

.search-filter, .search-price {
  width: 100%;
  margin-bottom: 0;
}

.search-filter-dropdown-content, .search-price-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.search-filter-dropdown-content a, .search-price-dropdown-content a {
  color: black;
  padding: 1.25em 1em;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.show { display:block; }

.search-result {
  overflow: auto;
  margin-bottom: 1.75em;
  border-radius: 6px;
}

.search-result-img {
  float: left;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}

.search-result-info {
  min-height: 14em;
  position: relative;
  margin-left: 15em;
  padding: 2em;
  text-align: left;
}

.search-result-price {
  position: absolute;
  top: 2em;
  right: 2em;
}

.search-result-button {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

.search-result-category {
  position: absolute;
  bottom: 1em;
}

.search-result-category-tags {
  background-color: #eee;
  margin-right: 0.4em;
  padding: 0.25em 0.5em;
  border-radius: 3px;
}

.search-button {
  width: 7.5%;
  background-color: black;
  color: white;
  overflow: hidden;
}
